<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :manufacturer, style: "display: block" %>
    <%= form.text_field :manufacturer %>
  </div>

  <div>
    <%= form.label :model, style: "display: block" %>
    <%= form.text_field :model %>
  </div>

  <div>
    <%= form.label :model_code, style: "display: block" %>
    <%= form.text_field :model_code %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :rrp, style: "display: block" %>
    <%= form.text_field :rrp %>
  </div>

  <div>
    <%= form.label :seat_height_mm, style: "display: block" %>
    <%= form.number_field :seat_height_mm %>
  </div>

  <div>
    <%= form.label :wheelbase_mm, style: "display: block" %>
    <%= form.number_field :wheelbase_mm %>
  </div>

  <div>
    <%= form.label :length_mm, style: "display: block" %>
    <%= form.number_field :length_mm %>
  </div>

  <div>
    <%= form.label :height_mm, style: "display: block" %>
    <%= form.number_field :height_mm %>
  </div>

  <div>
    <%= form.label :width_mm, style: "display: block" %>
    <%= form.number_field :width_mm %>
  </div>

  <div>
    <%= form.label :ground_clearance_mm, style: "display: block" %>
    <%= form.number_field :ground_clearance_mm %>
  </div>

  <div>
    <%= form.label :engine_description, style: "display: block" %>
    <%= form.text_field :engine_description %>
  </div>

  <div>
    <%= form.label :displacement, style: "display: block" %>
    <%= form.number_field :displacement %>
  </div>

  <div>
    <%= form.label :max_power_ps, style: "display: block" %>
    <%= form.text_field :max_power_ps %>
  </div>

  <div>
    <%= form.label :max_power_rpm, style: "display: block" %>
    <%= form.number_field :max_power_rpm %>
  </div>

  <div>
    <%= form.label :max_torque_nm, style: "display: block" %>
    <%= form.text_field :max_torque_nm %>
  </div>

  <div>
    <%= form.label :max_torque_rpm, style: "display: block" %>
    <%= form.number_field :max_torque_rpm %>
  </div>

  <div>
    <%= form.label :cylinders, style: "display: block" %>
    <%= form.number_field :cylinders %>
  </div>

  <div>
    <%= form.label :cyl_bore, style: "display: block" %>
    <%= form.text_field :cyl_bore %>
  </div>

  <div>
    <%= form.label :cyl_stroke, style: "display: block" %>
    <%= form.text_field :cyl_stroke %>
  </div>

  <div>
    <%= form.label :cyl_valves, style: "display: block" %>
    <%= form.number_field :cyl_valves %>
  </div>

  <div>
    <%= form.label :fuel, style: "display: block" %>
    <%= form.text_field :fuel %>
  </div>

  <div>
    <%= form.label :fuel_capacity_l, style: "display: block" %>
    <%= form.text_field :fuel_capacity_l %>
  </div>

  <div>
    <%= form.label :consumption_lkm, style: "display: block" %>
    <%= form.number_field :consumption_lkm %>
  </div>

  <div>
    <%= form.label :range_km, style: "display: block" %>
    <%= form.number_field :range_km %>
  </div>

  <div>
    <%= form.label :drive_category, style: "display: block" %>
    <%= form.number_field :drive_category %>
  </div>

  <div>
    <%= form.label :transmission, style: "display: block" %>
    <%= form.text_field :transmission %>
  </div>

  <div>
    <%= form.label :clutch, style: "display: block" %>
    <%= form.text_field :clutch %>
  </div>

  <div>
    <%= form.label :gears, style: "display: block" %>
    <%= form.number_field :gears %>
  </div>

  <div>
    <%= form.label :tyre_front, style: "display: block" %>
    <%= form.text_field :tyre_front %>
  </div>

  <div>
    <%= form.label :tyre_rear, style: "display: block" %>
    <%= form.text_field :tyre_rear %>
  </div>

  <div>
    <%= form.label :tube, style: "display: block" %>
    <%= form.check_box :tube %>
  </div>

  <div>
    <%= form.label :tyre_category, style: "display: block" %>
    <%= form.text_field :tyre_category %>
  </div>

  <div>
    <%= form.label :wheel_front_in, style: "display: block" %>
    <%= form.number_field :wheel_front_in %>
  </div>

  <div>
    <%= form.label :wheel_rear_in, style: "display: block" %>
    <%= form.number_field :wheel_rear_in %>
  </div>

  <div>
    <%= form.label :kerb_weight_kg, style: "display: block" %>
    <%= form.number_field :kerb_weight_kg %>
  </div>

  <div>
    <%= form.label :brake_front_desc, style: "display: block" %>
    <%= form.text_field :brake_front_desc %>
  </div>

  <div>
    <%= form.label :brake_rear_desc, style: "display: block" %>
    <%= form.text_field :brake_rear_desc %>
  </div>

  <div>
    <%= form.label :battery_size, style: "display: block" %>
    <%= form.text_field :battery_size %>
  </div>

  <div>
    <%= form.label :additional_features, style: "display: block" %>
    <%= form.text_area :additional_features %>
  </div>

  <div>
    <%= form.label :data, style: "display: block" %>
    <%= form.text_area :data %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
